<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src = 'images/nutri.webp'width="100" height="100">
        <h2 class="h2">Nutritional Information Database <small class="d-none">🛡️</small></h2>
        <p>Access a vast database of nutritional information that can determine calories and macronutrients based on the weight of the food item.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/barcode.webp'width="100" height="100">

        <h2 class="h2">Barcode Scanner Integration <small class="d-none">🚀</small></h2>
        <p>Scan packaged foods' barcodes using a smartphone app for instant nutritional data.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/voice.webp'width="100" height="100">
        <h2 class="h2">Voice Command Features <small class="d-none">📈</small></h2>
        <p>Hands-free operation through voice commands to search for food items or log data.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Integration with Fitness Apps <small class="d-none">🦉</small></h2>
        <p>Syncs data with popular fitness and health tracking apps to provide a comprehensive view of nutrition and exercise.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Multi-User Profiles <small class="d-none">✨</small></h2>
        <p>Multiple profiles for family and friends to track their nutrition independently.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Waterproof and Easy to Clean <small class="d-none">🧰</small></h2>
        <p>Designed to be both durable and easy to maintain, suitable for kitchen use.</p>
    </div>
</div>
